
@{
    ViewBag.Title = "Todos_cortes";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
@model List<Fabio_managment_system.Models.Corte>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Todos Funcionarios</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Id </th>
                            <th> Nome da Viatura </th>
                            <th> Codigo da viatura </th>
                            <th>  </th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id_corte</td>
                                <td>@item.Nome</td>
                                <td>@item.Preco</td>
                                <td>@Html.ActionLink("Editar", "Editar_corte", "Corte", new { Id_corte = item.Id_corte }, new { })</td>
                                <td>@Html.ActionLink("Eliminar", "Eliminar_corte", "Corte", new { Id_corte = item.Id_corte }, new { })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>